@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.message {
    justify-content: center;
    align-items: center;
    min-width: 40%;
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    padding: 0 20px;
    padding-top: 80px;
}